all:
  hosts:
{% for host in host_list %}
    {{ host }}
{% endfor %}
  children:
    kube_control_plane:
      hosts:
{% for host in master_host_list %}
        {{ host }}
{% endfor %}
    etcd:
      hosts:
{% for host in master_host_list %}
        {{ host }}
{% endfor %}
    kube_node:
      hosts:
{% for host in child_host_list %}
        {{ host }}
{% endfor %}
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node:
